<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.mapper.FacePayMapper">
    <resultMap id="BaseResultMap" type="com.test.dao.FacePayBack">
        <id column="商户号" property="merchant_num" jdbcType="VARCHAR" />
        <result column="商户名" property="merchant_name" jdbcType="VARCHAR" />
        <result column="来源渠道" property="source_channel" jdbcType="VARCHAR" />
        <result column="绑定时间" property="bind_time" jdbcType="VARCHAR" />
        <result column="商户状态" property="merchant_state" jdbcType="VARCHAR" />
        <result column="冻结时间" property="gg_time" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        商户号,商户名,来源渠道 ,绑定时间,商户状态,冻结时间
	</sql>
    <sql id="where_null">
        <if test="tiaojian.merchant_num !=null and tiaojian.merchant_num !=''">and 商户号  like CONCAT(CONCAT('%', #{tiaojian.merchant_num,jdbcType=VARCHAR}), '%')</if>
        <if test="tiaojian.merchant_name !=null and tiaojian.merchant_name !=''">and 商户名  like CONCAT(CONCAT('%', #{tiaojian.merchant_name,jdbcType=VARCHAR}), '%')</if>
        <if test="tiaojian.source_channel !=null and tiaojian.source_channel !=''">and 来源渠道  CONCAT(CONCAT('%', #{tiaojian.source_channel,jdbcType=VARCHAR}), '%')</if>
    </sql>
    <select id="selectDangMianFu" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from [tlzf_syb].[dbo].[dmfsh]
        where tzr = #{username}<include refid="where_null"></include>
        and 绑定时间  BETWEEN #{tiaojian.startTime} AND #{tiaojian.endTime}
        order by 绑定时间  desc
    </select>
</mapper>