<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.mapper.ShDetailsMapper">

    <select id="merchantDetials" resultType="string" parameterType="java.lang.String">
        select
        *
        from qdtlzf.dbo.Merchant
        where 收单商户编码=#{merchantNo} and 终端编号=#{terminalNo}
    </select>

</mapper>