<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.test.model.User">
        <id column="uid" property="uid" jdbcType="INTEGER" />
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="userid" property="userid" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="onwork" property="onwork" jdbcType="INTEGER" />
        <result column="whzid" property="whzid" jdbcType="INTEGER" />
        <result column="leve" property="leve" jdbcType="INTEGER" />
        <result column="whz" property="whz" jdbcType="INTEGER" />
        <result column="onwh" property="onwh" jdbcType="INTEGER" />
        <result column="userpwd" property="userpwd" jdbcType="VARCHAR" />
        <result column="whz_qx" property="whz_qx" jdbcType="VARCHAR" />
        <result column="部门" property="depet" jdbcType="VARCHAR" />
        <result column="团队" property="team" jdbcType="VARCHAR" />
        <result column="fullpartname" property="fullpartname" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        uid,id,userid,username,onwork,whzid,leve,whz,onwh,userpwd,whz_qx,部门,团队,fullpartname
	</sql>
    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from [qdtlzf].[dbo].[userlist]
        where username = #{username,jdbcType=VARCHAR} and onwork=1
    </select>

    <update id="resetPwd" parameterType="java.lang.String">
        UPDATE [qdtlzf].[dbo].[userlist] SET
        userpwd = #{newpwd}
        WHERE username = #{username}
    </update>

    <resultMap id="BaseResultMap1" type="com.test.utils.loginLevel.ToLayuiJson_l1">
        <id column="text" property="text" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="href" property="href" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List1">
        text,icon,href
	</sql>
    <select id="selectMotherset" resultMap="BaseResultMap1" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List1" />
        from [liuyao].[dbo].[subsetMother]
        where type_1 &lt; #{type}
    </select>

    <resultMap id="BaseResultMap2" type="com.test.utils.loginLevel.ToLayuiJson_l2">
        <id column="text" property="text" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="href" property="href" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List2">
        text,icon,href
	</sql>
    <select id="selectSubset" resultMap="BaseResultMap2" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List2" />
        from [liuyao].[dbo].[subset]
        where type_1 = #{type}
    </select>

    <resultMap id="BaseResultMap3" type="java.lang.String">
        <id column="username" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List3">
        username
	</sql>
    <select id="selectContains" resultMap="BaseResultMap3" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List3" />
        from [qdtlzf].[dbo].[userlist]
        where <if test="level!=6">部门=#{depet} <if test="level!=5">and 团队=#{team}</if>  and</if> leve &lt; #{level}
    </select>
</mapper>